NET "clk" LOC = B9;
NET "clkHand" LOC = U9;
NET "rst" LOC = U10;
NET "vgaHs" LOC = D6;
NET "vgaVs" LOC = E6;
NET "vgaR[0]" LOC = A7;
NET "vgaR[1]" LOC = C3;
NET "vgaR[2]" LOC = A4;
NET "vgaG[0]" LOC = B4;
NET "vgaG[1]" LOC = C4;
NET "vgaG[2]" LOC = C5;
NET "vgaB[0]" LOC = D5;
NET "vgaB[1]" LOC = A6;
NET "vgaB[2]" LOC = B6;

NET "MemAddrBus[0]" LOC=C17;
NET "MemAddrBus[1]" LOC=C18;
NET "MemAddrBus[2]" LOC=D16;
NET "MemAddrBus[3]" LOC=D17;
NET "MemAddrBus[4]" LOC=E15;
NET "MemAddrBus[5]" LOC=E16;
NET "MemAddrBus[6]" LOC=F14;
NET "MemAddrBus[7]" LOC=F15;
NET "MemAddrBus[8]" LOC=F17;
NET "MemAddrBus[9]" LOC=F18;
NET "MemAddrBus[10]" LOC=G13;
NET "MemAddrBus[11]" LOC=G14;
NET "MemAddrBus[12]" LOC=G15;
NET "MemAddrBus[13]" LOC=G16;
NET "MemAddrBus[14]" LOC=H14;
NET "MemAddrBus[15]" LOC=H15;
NET "MemAddrBus[16]" LOC=H16;
NET "MemAddrBus[17]" LOC=H17;

NET "MemDataBus[0]" LOC=J12;
NET "MemDataBus[1]" LOC=J13;
NET "MemDataBus[2]" LOC=J14;
NET "MemDataBus[3]" LOC=J15;
NET "MemDataBus[4]" LOC=J16;
NET "MemDataBus[5]" LOC=J17;
NET "MemDataBus[6]" LOC=K12;
NET "MemDataBus[7]" LOC=K13;
NET "MemDataBus[8]" LOC=K14;
NET "MemDataBus[9]" LOC=K15;
NET "MemDataBus[10]" LOC=L15;
NET "MemDataBus[11]" LOC=L16;
NET "MemDataBus[12]" LOC=L17;
NET "MemDataBus[13]" LOC=L18;
NET "MemDataBus[14]" LOC=M13;
NET "MemDataBus[15]" LOC=M14;

NET "memRead" LOC=M16;
NET "memWrite" LOC=M18;
NET "memEnable" LOC=M15;
