NET "clk" LOC=U9;
NET "clk50M" LOC=B9;
NET "rst" LOC=U10;
NET "showData" LOC=U11;
NET "in[0]" LOC=T7;
NET "in[1]" LOC=R7;
NET "in[2]" LOC=U8;
NET "in[3]" LOC=V4;
NET "in[4]" LOC=V3;
NET "in[5]" LOC=V2;
NET "in[6]" LOC=U1;
NET "in[7]" LOC=R4;
NET "in[8]" LOC=R1;
NET "in[9]" LOC=N2;
NET "in[10]" LOC=N1;
NET "in[11]" LOC=M1;
NET "in[12]" LOC=K7;
NET "in[13]" LOC=K2;
NET "in[14]" LOC=J7;
NET "in[15]" LOC=J6;

NET "addrBus[0]" LOC=C17;
NET "addrBus[1]" LOC=C18;
NET "addrBus[2]" LOC=D16;
NET "addrBus[3]" LOC=D17;
NET "addrBus[4]" LOC=E15;
NET "addrBus[5]" LOC=E16;
NET "addrBus[6]" LOC=F14;
NET "addrBus[7]" LOC=F15;
NET "addrBus[8]" LOC=F17;
NET "addrBus[9]" LOC=F18;
NET "addrBus[10]" LOC=G13;
NET "addrBus[11]" LOC=G14;
NET "addrBus[12]" LOC=G15;
NET "addrBus[13]" LOC=G16;
NET "addrBus[14]" LOC=H14;
NET "addrBus[15]" LOC=H15;
NET "addrBus[16]" LOC=H16;
NET "addrBus[17]" LOC=H17;

NET "dataBus[0]" LOC=J12;
NET "dataBus[1]" LOC=J13;
NET "dataBus[2]" LOC=J14;
NET "dataBus[3]" LOC=J15;
NET "dataBus[4]" LOC=J16;
NET "dataBus[5]" LOC=J17;
NET "dataBus[6]" LOC=K12;
NET "dataBus[7]" LOC=K13;
NET "dataBus[8]" LOC=K14;
NET "dataBus[9]" LOC=K15;
NET "dataBus[10]" LOC=L15;
NET "dataBus[11]" LOC=L16;
NET "dataBus[12]" LOC=L17;
NET "dataBus[13]" LOC=L18;
NET "dataBus[14]" LOC=M13;
NET "dataBus[15]" LOC=M14;

NET "memRead" LOC=M16;
NET "memWrite" LOC=M18;
NET "memEnable" LOC=M15;

NET "display[0]" LOC  = D10;
NET "display[1]" LOC  = E10;
NET "display[2]" LOC  = A11;
NET "display[3]" LOC  = B11;
NET "display[4]" LOC  = C11;
NET "display[5]" LOC  = D11;
NET "display[6]" LOC  = E11;
NET "display[7]" LOC  = F11;
NET "display[8]"  LOC = A12;
NET "display[9]"  LOC = E12;
NET "display[10]"  LOC = F12;
NET "display[11]"  LOC = A13;
NET "display[12]"  LOC = B13;
NET "display[13]"  LOC = D13;
NET "display[14]"  LOC = E13;
NET "display[15]"  LOC = A14;
